* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* navbar start */
.navbar {
  background-color: #fff;
  font-weight: 600;
  font-size: 19px;
  height: 100px;
}

.navbar-brand img {
  height: 100px;
}

.nav-link {
  transition: color 0.5s;
}

.nav-link:hover {
  color: #ffb51d;
}

.nav-link {
  margin-right: 5px;
}
/* navbar end */

.car-image {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/about-img.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.car-image .about {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.car-image .about h1 {
  color: white;
  font-size: 50px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  margin-top: 50px;
}

.car-image .about p {
  color: white;
  font-size: 21px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.car-image .about p a {
  text-decoration: none;
  color: white;
}

.bi-chevron-right {
  font-size: 17px;
  font-weight: bolder;
  color: #ffb51d;
}
@media (max-width: 768px) {
  .container {
    height: 300px;
  }

  .container .about h1 {
    font-size: 32px;
  }

  .container .about p {
    font-size: 16px;
  }
}
.car-slider{
  position: absolute;
  
}
.car-slider img{
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    height: 87px;
    z-index: -1;
}
.footer-section {
    height: 350px;
    background-image:
        linear-gradient(to right, #131222e1),
        url("../images/bg-img4.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 50px;
}

.footer-section .logo {
    height: 100px;
}

.footer-section .text {
    color: #ffffffb3;
    font-size: 12px;
}

.footer-section input {
    background: transparent;
    border-radius: 20px;
    padding: 13px 25px;
    width: 300px;
}

.footer-section input:focus {
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
}

.footer-section input::placeholder {
    color: #ffffffb3;
}

.email-box {
    display: flex;
    align-items: center;
}

.email-box .search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFB51D;
    color: white;
    padding: 10px;
    border-radius: 50%;
    padding: 18px;
    position: relative;
    right: 43px;
    transition: background-color 0.5s linear;
}

.email-box .search:hover {
    background-color: white;
    color: #FFB51D;
}

.quick-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quick-links li {
    list-style: none;
}

.quick-links li a {
    text-decoration: none;
    color: #ffffffb3;
    font-size: 14px;
}

.quick-links h2 {
    color: #fff;
    font-size: 25px;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services h2 {
    color: #fff;
    font-size: 25px;
}

.services li {
    list-style: none;
}

.services li a {
    text-decoration: none;
    color: #ffffffb3;
    font-size: 14px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact h2 {
    color: #fff;
    font-size: 25px;
}

.contact li {
    list-style: none;
}

.contact li a {
    text-decoration: none;
    color: #ffffffb3;
    font-size: 14px;
    margin-left: 20px;
    padding-top: 10px;
}

.contact span {
    border: 1px solid #ffffffb3;
    padding: 8px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    font-weight: 100;
    transition: background-color 0.5s linear;
}

.contact span:hover {
    background-color: #FFB51D;
}
.footer-section li a {
    transition: color 0.2s linear;
}
.footer-section li a:hover {
    color: #FFB51D;
}
.copyright {
    color: #fff;
    margin-top: 30px;
}
.trust-ride-copy {
    color: #FFB51D;
}

@media(max-width:576px) {
    .footer-section {
         background-image:
        linear-gradient(to right, #131222e1),
        url("../images/bg-img5.jpg");
        height: 172vh;
        background-size: 100% 100%;
        padding-left: 10px;
    }
    .copyright {
        font-size: 15px;
    }
    .footer-section>.row>div {
        margin-top: 20px;
    }
    
}