* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: #fff;
    font-weight: 600;
    font-size: 19px;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 50;
}

.navbar-toggler {
    position: fixed;
    top: 15px;
    right: 10px;
}

.navbar-brand img {
    margin-top: 20px;
    height: 250px;
}

.nav-link {
    transition: color 0.5s;
}

.nav-link:hover {
    color: #FFB51D;

}

.nav-link {
    margin-right: 5px;
}

@media (max-width:576px) {
    .hero-section {
        height: 70vh;
        width: 100%;
    }

    .slide-text {
        font-size: 40px;
    }

    .navbar-brand img {
        transform: scale(1.3);
        margin: 0;
        padding: 0;
        position: relative;
        top: -20px;
        height: 100px;
    }

    .navbar {
        height: 70px;

    }

}
.car-image {
  position: relative;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
    url(../images/about-img.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-image .about {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.car-image .about  {
  color: white;
  font-size: 50px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  margin-top: 50px;
}

.car-image .about {
  color: white;
  font-size: 21px;
  letter-spacing: 1px;
  margin-top: 10px;
}
.car-slider {
  position: absolute;
  overflow: hidden;
  width: 100%;
  left: 0px;
  bottom: 0px;

}

.car-slider img {
  top: 38px;
  height: 210px;
  width: 30vw;
  max-width: 400px;
  min-width: 180px;
  position: relative;
  left: 0px;
  animation: drive 16s linear infinite;
}

@keyframes drive {
  from {
    left: 0;
  }

  to {
    left: 1500px;
  }
}

.about-section{
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.car-img img{
  width: 750px;
  height: 650px;

}
.about-section .company{
  height: 650px;
  width: 650px;
  overflow: hidden;
}
.about-section .car-logo span{
  color: #FFB51D;
  font-size: large;
}
.about-section .car-logo h1{
  text-align: justify;
  font-weight: 700;
  margin-top: 10px;
  color: #131222;
  font-size:35px;
  font-family: sans-serif;
  
}
.company .text{
  padding: 10px 0px 0px 0px;
  overflow: hidden;
}
.company .text .text-one{
  color: #FFB51D;
  font-size: 20px;
  font-weight: 500;

}
.company .text .text-two{
  font-size: 16px;
  padding-top: 5px;
  color: #868689;
  width: 550px;
  height: 72px;
  text-align: justify;
}
.about-progress{
  margin-top: 25px;
  overflow: hidden;
}
.about-progress p{
  font-size: 20px;
  font-weight: 700;
}
.about-one_btn{
  padding-top:45px ;
  display: flex;

}

.about-btn button{
  width: 150px;
  height: 55px;
  background-color: #FFB51D;
  color: #131222;
  border-radius: 10px;
  border: 1px solid #FFB51D ;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.about-btn button:hover{
  background-color: #131222;
  color: white;
}
.about-one_call{
  width: 350px;
  height: 60px;
  display: flex;
  margin-left: 35px;
  padding-top: 8px;
}
.about-one_call i{
  height: 45px;
  width: 45px;
  background-color: #FFB51D;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
  font-size: 23px;
}
.about-one_call h5{
  padding-left: 20px;
  margin-top: 10px;
}
@media (max-width: 768px){

  .about-section .company{
    text-align: center;
  }

  .company .text .text-two{
    text-align: center;
  }

  .about-one_btn{
    justify-content: center;
  }

  .about-one_call{
    justify-content: center;
  }
}
@media (max-width: 480px){
  .about-section .car-logo h1{
    font-size: 22px;
  }

  .about-one_btn{
    gap: 15px;
  }

  .about-btn button{
    width: 100%;
    max-width: 240px;
  }
}
