* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #fff;
  font-weight: 600;
  font-size: 19px;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 50;
}

.navbar-toggler {
  position: fixed;
  top: 15px;
  right: 10px;
}

.navbar-brand img {
  margin-top: 20px;
  height: 250px;
}

.nav-link {
  transition: color 0.5s;
}

.nav-link:hover {
  color: #FFB51D;

}

.nav-link {
  margin-right: 5px;
}

@media (max-width:576px) {
  .hero-section {
    height: 70vh;
    width: 100%;
  }

  .slide-text {
    font-size: 40px;
  }

  .navbar-brand img {
    transform: scale(1.3);
    margin: 0;
    padding: 0;
    position: relative;
    top: -20px;
    height: 100px;
  }

  .navbar {
    height: 70px;

  }

}

/* about first section */
.car-image {
  position: relative;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url(../images/about-img.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-image .about {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.car-image .about h1 {
  color: white;
  font-size: 27px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  margin-top: 50px;
}

.car-image .about {
  color: white;
  font-size: 21px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.car-slider {
  position: absolute;
  overflow: hidden;
  width: 100%;
  left: 0px;
  bottom: 0px;

}

.car-slider img {
  top: 38px;
  height: 210px;
  width: 30vw;
  max-width: 400px;
  min-width: 180px;
  position: relative;
  left: 0px;
  animation: drive 16s linear infinite;
}

@keyframes drive {
  from {
    left: 0;
  }

  to {
    left: 1500px;
  }
}

@media (max-width: 768px) {
  .car-image {
    height: 320px;
  }

  .car-image .about h1 {
    font-size: 22px;
    margin-top: 20px;
  }

  .car-image .about p {
    font-size: 16px;
  }

  .car-slider img {
    width: 45vw;
  }
}


@media (max-width: 576px) {
  .car-image {
    height: 280px;
  }

  .car-image .about h1 {
    font-size: 18px;
    margin-top: 10px;
  }

  .car-image .about p {
    font-size: 14px;
  }

  .car-slider img {
    width: 65vw;
    min-width: 140px;
  }
}

/* about details section */
.about-company {
  background-color: white;
}

.about-trust .car-logo span {
  color: #FFB51D;
  font-size: 17px;
  font-weight: 500;
}

.about-trust {
  overflow: hidden;
}

.about-trust h1 {
  margin-top: 10px;
  text-align: justify;
  font-weight: 700;
}

.about-text h5 {
  color: #FFB51D;
  padding-top: 10px;

}

.about-text .text-two {
  color: #6f6f6edc;
  padding-top: 10px;
  width: 620px;
  display: inline-block;
}

.about-progress {
  margin-top: 10px;
  overflow: hidden;
}

.about-progress .progress {
  height: 19px;
  width: 600px;
}

.about-progress .progress .progress-bar {
  height: 18px;
  width: 90%;
  color: #131222;
  background-color: #FFB51D;
  font-size: 15px;
  border-radius: 6px;
}

.about-progress p {
  font-size: 18px;
  font-weight: 700;
}

.about-btn button {
  width: 150px;
  height: 55px;
  background-color: #FFB51D;
  color: #131222;
  border-radius: 10px;
  border: 1px solid #FFB51D;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  transition: all 0.5s ease;
  margin-top: 40px;
}

.about-btn button:hover {
  background-color: #131222;
  color: white;
}

@media (max-width: 992px) {
  .about-text .text-two {
    max-width: 100%;
  }

  .about-progress p {
    font-size: 16px;
  }

  .about-btn button {
    margin-top: 25px;
  }
}


@media (max-width: 768px) {
  .about-trust h1 {
    font-size: 24px;
    text-align: left;
  }

  .about-text .text-two {
    font-size: 15px;
  }

  .about-progress .progress {
    height: 16px;
  }

  .about-progress .progress .progress-bar {
    height: 15px;
  }

  .about-progress p {
    font-size: 15px;
  }

  .about-btn button {
    width: 100%;
    height: 50px;
  }
  
}


@media (max-width: 576px) {
  .about-trust h1 {
    font-size: 22px;
  }

  .about-text h5 {
    font-size: 16px;
  }

  .about-text .text-two {
    font-size: 14px;
    line-height: 1.6;
  }

  .about-btn button {
    font-size: 15px;
  }
  
}

/* footer section */
.footer-section {
  background-image:
    linear-gradient(to right, #131222e1),
    url("../images/bg-img4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 50px;
}


.footer-section .logo {
  height: 150px;
}

.footer-section .text {
  color: #ffffffb3;
  font-size: 12px;
}

.footer-section input {
  background: transparent;
  border-radius: 20px;
  padding: 13px 25px;
  width: 300px;
}

.footer-section input:focus {
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
}

.footer-section input::placeholder {
  color: #ffffffb3;
}

@media(max-width:576px) {
  .footer-section {
    background-image:
      linear-gradient(to right, #131222e1),
      url("../images/bg-img5.jpg");
    padding: 30px 15px;
    height: auto;
  }

  .footer-section>div>div {
    margin-bottom: 25px;
  }
}