* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* navbar start */
.navbar {
  background-color: #fff;
  font-weight: 600;
  font-size: 19px;
  height: 100px;
}

.navbar-brand img {
  height: 100px;
}

.nav-link {
  transition: color 0.5s;
}

.nav-link:hover {
  color: #ffb51d;
}

.nav-link {
  margin-right: 5px;
}
/* navbar end */

.car-image {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/about-img.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.car-image .about {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.car-image .about h1 {
  color: white;
  font-size: 50px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  margin-top: 50px;
}

.car-image .about p {
  color: white;
  font-size: 21px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.car-image .about p a {
  text-decoration: none;
  color: white;
}

.bi-chevron-right {
  font-size: 17px;
  font-weight: bolder;
  color: #ffb51d;
}
@media (max-width: 768px) {
  .container {
    height: 300px;
  }

  .container .about h1 {
    font-size: 32px;
  }

  .container .about p {
    font-size: 16px;
  }
}
.car-slider{
  position: absolute;

  border: 1px solid #fff;
}
