* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: #fff;
    font-weight: 600;
    font-size: 19px;
    height: 100px;
}

.navbar-brand img {
    height: 250px;
    margin-top: 20px;
}

.nav-link {
    transition: color 0.5s;
}

.nav-link:hover {
    color: #FFB51D;

}

.nav-link {
    margin-right: 5px;
}
/* navbar end */

.car-image {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/about-img.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.car-image .about {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.car-image .about h1 {
  color: white;
  font-size: 50px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .container {
    height: 300px;
  }

  .container .about h1 {
    font-size: 32px;
  } 
}
.car-slider{
  position: absolute;
 overflow: hidden;
  width: 100%;
  left: 0px;
  bottom: 0px;

}
.car-slider img{
  top: 38px;
  height: 210px;
  width: 30vw;
  max-width: 400px;
  min-width: 180px;
  position: relative;
  left: 0px;
   animation: drive 8s linear infinite;
}
@keyframes drive {
  from{
    left:0;
  }
  to{
    left:1500px;
  }
}

/* about details */

.about-detail{
  position: relative;
  width: 100%;
  height: 900px;
  display: flex;
}

/* div 1 */
.about-detail .images{
  position: relative;
  border: 1px solid #333;
  height: 850px;
  width: 50%;
  padding: 120px;
}
.images .front-img{
  position: absolute;
  top: 100px;
  left: 300px;
  z-index: 2;
  border-radius: 25px;
}
.images .back-img{
  position: absolute;
  top: 350px;
  left: 100px;
  z-index: 1;
  border-radius: 25px;
}
.images .animat-car{
  position: absolute;
  top: 450px;
  left:420px ;

}


/* div2 */
.about-detail .trust-ride{
  position: relative;
  border: 1px solid #333;
  height: 850px;
  width: 50%;
}
.trust-ride .car-logo{
  border: 1px solid #333;
  top: 100px;
  left: 80px;
  width: 620px;
  position: absolute;
}
.trust-ride .car-logo span{
  color: #FFB51D;
  font-weight: 400;
}
.trust-ride .car-logo h1{
  font-size: 50px;
  font-weight:700 ;
  color: black;
  
}
