body {
  background: #f4f6f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner {
  background: url(../images/bg-img4.jpg)center/cover no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
}
.fw-bold{
  margin-bottom: 150px;
  
}


.booking-card {
  max-width: 700px;
  margin: -200px auto 40px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1); 
}
.form-label {
  font-weight: 500;
}
.btn-custom {
  background: #fba804;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: #f4f6f9;
}
.btn-custom:hover {
  background: rgb(244, 183, 71);
  color: #f4f6f9;
}