

*{
     font-family: "Roboto", sans-serif;
}
.price-card {
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s ease;
    background: white;
    cursor: pointer;
    margin-bottom: 35px;
}


.price-card:hover {
    transform: translateY(-12px);
    box-shadow: 0px 18px 35px rgba(0, 0, 0, 0.28);
}


.price-card img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}

.price-card:hover img {
    transform: scale(1.10);
}


.rating {
    color: #ff9900;
    font-size: 18px;
}


.price-card h4 {
    text-align: center;
    font-size: 22px;
}


.price-card .d-flex div {
    width: 33%;
}


.row {
    row-gap: 40px;
}

h3{
    color: #ff9900;
    font-size: 50px;
}