* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}
/* text size for MObile View */
@media (max-width: 576px) {

  .services h1 {
    font-size: 32px !important;
    text-align: center;
  }

  .car-slider img {
    width: 220px !important;
  }
}