* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}
.car-image {
  position: relative;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url(../images/bg-img4.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us h1 {
    color: white;
    font-size: 60px;
    font-weight: 800;
}
.contact-section {
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 30px 0;
}
.contact-card>.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-card {
    height: 250px;
    background-color: #c9cddaac;
    border: none;
}
.card-body span {
    color: white;
    background-color:  #FFB51D;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s linear;
}
.card-body span:hover {
    background-color: white;
    color: #FFB51D;
}
.card-heading {
    font-size: 19px;
    font-weight: 500;
    color: #868689;
}
.card-txt {
    color: #121322;
    font-weight: 600;
}
.contact-card:hover {
    background-color:#c9cddaac ;
}
.contact-form-section {
    background-color: #121322;
    padding:10px;
}

.contact-form-section h2 {
    color: white;
}
@media(min-width : 576px) and (max-width : 768px) {
   .navbar {
    height: 80px;
   }
   .navbar-toggler {
    top: 20px;
   }
   .navbar-brand img {
    position: relative;
    bottom: 105px;
   }

   .contact-section {
    height: 100vh;
   }
   .contact-card {
    height: 200px;
   }
   .car-slider img {
    height: 150px;
   }
   iframe {
    width: 100%;
    position: relative;
    right: 35px;
   }
   .contact-form-section {
    overflow: hidden;
   }
}
@media(max-width:576px) {
    .contact-card {
        height: 200px;
    }
    
    .contact-section {
        height: 100vh;
    }
    .contact-form-section {
        overflow: hidden;
    }
    iframe {
        position: relative;
        right: 25px;
        width: 100%;
        height: 350px;
        margin-bottom: 20px;
    }
    .car-slider img {
        height: 150px;
    }
    .card-txt {
        font-size: 11px;
    }
    .car-image {
        height: 50vh;
    }
    .contact-us h1 {
        font-size: 40px;
    }
}
