h3{
    text-align: center;
    color: orange;
    font-weight: 400px;
}
*{
    font-family: "Roboto", sans-serif;
}
h1{
    text-align: center;
    font-weight: 400px;
   
}
.cont{
    background-color:#FFB51D;
    width: 100%;
    height: 130px;
    
}
h4{
    text-align: center;
    padding: 10px;
   
}
marquee{
    background-color: #FFB51D;
    height: 50px;
    font-size: 25px;
    position: relative;
    top: 100px;
   
   
}
footer{
    position: relative;
    top: 100px;
}
section{
    position: relative;
    top: 100px;
}

.card:hover{
    background-color: #FFB51D;
}
.card-title{
    text-align: center;
    padding-top: 50px;
}
body {
    background: #f5f5f5;
}

/* Card Box */
.service-card {
    background: #13141c;
    border-radius: 25px;
    padding: 30px;
    color: white;
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 500;
}

/* Geometric background shapes */
/* .service-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, transparent 30%, #1a1b26 30%),
                      linear-gradient(225deg, transparent 30%, #1f202b 30%);
    opacity: 0.5;
    z-index: 0;
} */

/* Number box */
.number-box {
    position: absolute;
    right: 0px;
    top: 80px;
    background: #fff;
    color: #000;
    padding: 8px 18px;
    border-radius: 15px;
    font-weight: bold;
    z-index: 3;
}

/* Icon */
.icon {
    font-size: 45px;
    color: white;
    margin-bottom: 20px;
    z-index: 3;
    position: relative;
    
    
}
.icon .image{
    height: 40px;
    width: 40px;
}



/* Title */
.title {
    font-size: 22px;
    font-weight: 700;
    color:#FFB51D;
    margin-bottom: 10px;
    z-index: 3;
    position: relative;
}

/* Description */
.desc {
    font-size: 15px;
    color: #868689;
    z-index: 3;
    position: relative;
}

/* Bottom yellow strip */
.service-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #FFB51D;
    border-radius: 0 0 25px 25px;
}
/* Hover Effect */
.service-card {
    transition: all 0.35s ease;
    cursor: pointer;
}

.service-card:hover {
    transform: translateY(-12px) scale(1.02);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    background: #1a1c26;
}

/* Yellow bottom bar on hover */
.service-card:hover::after {
    background:#FFB51D;
}

/* Icon hover */
.service-card:hover .icon {
    transform: scale(1.15);
    color: #ffd35b;
    transition: 0.3s;
}

/* Title hover */
.service-card:hover .title {
    color: #ffd35b;
}

/* Circle hover */
.service-card:hover .circle {
    border-color: #ffd35b;
}

/* car image with serivices */
.car-image {
  position: relative;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
    url(../images/about-img.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-image .services {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.car-image .services  {
  color: white;
  font-size: 50px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  margin-top: 50px;
}

.car-image .services  {
  color: white;
  font-size: 21px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.car-image .services  a {
  text-decoration: none;
  color: white;
}

.bi-chevron-right {
  font-size: 17px;
  font-weight: bolder;
  color: #ffb51d;
}



.car-slider {
  position: absolute;
  overflow: hidden;
  width: 100%;
  left: 0px;
  bottom: 0px;

}

.car-slider img {
  top: 38px;
  height: 210px;
  width: 30vw;
  max-width: 400px;
  min-width: 180px;
  position: relative;
  left: 0px;
  animation: drive 16s linear infinite;
}

@keyframes drive {
  from {
    left: 0;
  }

  to {
    left: 1500px;
  }
}


/* slider section */
.slider {
    width: 100%;
    padding: 20px 0;
    background-color: #FFB51D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.slider h1 {
    font-weight: 800;
    margin-right: 40px;
}
.slider .slide, .car {
    position: relative;
    right: 0;
    animation: slider 25s linear infinite;
}
.slider span {
    margin-right: 40px;
}
.slider span i {
    font-size: 30px;
}
@keyframes slider{
    from {
        right : -1300px
    } to {
        right: 1650px;
    }
}


