* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: #fff;
    font-weight: 600;
    font-size: 19px;
    height: 100px;
}

.navbar-brand img {
    height: 100px;
}

.nav-link {
    transition: color 0.5s;
}

.nav-link:hover {
    color: #FFB51D;

}

.nav-link {
    margin-right: 5px;
}

.hero-section {
    height: 100vh;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../images/bg-img4.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: changeBackgroundImage 20s ease-in infinite;
}

@keyframes changeBackgroundImage {
    0% {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("../images/bg-img4.jpg");
    }

    25% {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("../images/bg-img2.jpg");
    }

    50% {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("../images/bg_img1.jpg");
    }

    75% {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("../images/bg-img2.jpg");
    }

    100% {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("../images/bg-img4.jpg");
    }
}

.slide-text {
    font-size: 90px;
    color: white;
    font-weight: 700;
}

.yellow {
    color: #FFB51D;
}

@media (max-width:576px) {
    .hero-section {
        height: 70vh;
        width: 100%;
    }

    .slide-text {
        font-size: 40px;
    }

    .navbar-brand img {
        height: 90px;
    }
}