* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: #fff;
    font-weight: 600;
    font-size: 19px;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 50;
}

.navbar-toggler {
    position: fixed;
    top: 15px;
    right: 10px;
}

.navbar-brand img {
    margin-top: 20px;
    height: 250px;
}

.nav-link {
    transition: color 0.5s;
}

.nav-link:hover {
    color: #FFB51D;

}

.nav-link {
    margin-right: 5px;
}

.hero-section {
    height: 100vh;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../images/bg-img4.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: changeBackgroundImage 15s ease-in infinite;
}

@keyframes changeBackgroundImage {
    0% {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("../images/bg-img4.jpg");
    }

    25% {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("../images/bg-img2.jpg");
    }

    50% {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("../images/bg_img1.jpg");
    }

    75% {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("../images/bg-img2.jpg");
    }

    100% {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("../images/bg-img4.jpg");
    }
}

.slide-text {
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: 700;
    width: 100%;
}
.carousel-text {
    width: 80%;
    transform: translateX(120px);
}
.yellow {
    color: #FFB51D;
}

@media (max-width:576px) {
    .hero-section {
        height: 70vh;
        width: 100%;
    }

    .navbar-brand img {
        transform: scale(1.3);
        margin: 0;
        padding: 0;
        position: relative;
        top: -20px;
        height: 100px;
    }

    .navbar {
        height: 70px;

    }
    .nav-container {
        height: 70px;
    }
    .carousel-text {
        transform: translateX(30px);
        text-align: center;
        font-size: 35px;
    }

}

.footer-section {
    background-image:
        linear-gradient(to right, #131222e1),
        url("../images/bg-img4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 50px;
}


.footer-section .logo {
    height: 150px;
}

.footer-section .text {
    color: #ffffffb3;
    font-size: 12px;
}

.footer-section input {
    background: transparent;
    border-radius: 20px;
    padding: 13px 25px;
    width: 300px;
}

.footer-section input:focus {
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
}

.footer-section input::placeholder {
    color: #ffffffb3;
}

.email-box {
    display: flex;
    align-items: center;
}

.email-box .search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFB51D;
    color: white;
    padding: 10px;
    border-radius: 50%;
    padding: 18px;
    position: relative;
    right: 43px;
    transition: background-color 0.5s linear;
}

.email-box .search:hover {
    background-color: white;
    color: #FFB51D;
}

.quick-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quick-links li {
    list-style: none;
}

.quick-links li a {
    text-decoration: none;
    color: #ffffffb3;
    font-size: 14px;
}

.quick-links h2 {
    color: #fff;
    font-size: 25px;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services h2 {
    color: #fff;
    font-size: 25px;
}

.services li {
    list-style: none;
}

.services li a {
    text-decoration: none;
    color: #ffffffb3;
    font-size: 14px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact h2 {
    color: #fff;
    font-size: 25px;
}

.contact li {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact li a {
    text-decoration: none;
    color: #ffffffb3;
    font-size: 14px;
    margin-left: 20px;
    padding-top: 10px;
    width: 200px;
}

.contact span {
    border: 1px solid #ffffffb3;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s linear;
}

.contact span:hover {
    background-color: #FFB51D;
}

.footer-section li a {
    transition: color 0.2s linear;
}

.footer-section li a:hover {
    color: #FFB51D;
}

.copyright {
    color: #fff;
    margin-top: 30px;

}

.trust-ride-copy {
    color: #FFB51D;
}

@media(max-width:576px) {
    .footer-section {
        background-image:
            linear-gradient(to right, #131222e1),
            url("../images/bg-img5.jpg");
        padding: 30px 15px;
        height: auto;
    }

    .footer-section>div>div {
        margin-bottom: 25px;
    }
}

.slider {
    width: 100%;
    padding: 20px 0;
    background-color: #FFB51D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.slider h1 {
    font-weight: 800;
    margin-right: 40px;
}

.slider .slide,
.car {
    position: relative;
    right: 0;
    animation: slider 25s linear infinite;
}

.slider span {
    margin-right: 40px;
}

.slider span i {
    font-size: 30px;
}

@keyframes slider {
    from {
        right: -1300px
    }

    to {
        right: 1650px;
    }
}

.fun-facts {
    display: flex;
    padding: 30px 0px 0px 50px;
}

.car-heading {
    display: flex;
    align-items: center;
}

.car-heading h4 {
    color: #FFB51D;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}

.fun-facts h1 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 45px;
    margin-bottom: 20px;
}

.fun-facts .fun-text {
    color: #868689;
}

.box {
    border: 1px solid black;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 40px 0;
    width: 200px;
    gap: 20px;
    border-radius: 20px;
}

.box span i {
    font-size: 35px;
}

.orange {
    background-color: #FFB51D;
    border: 10px solid #131222;
}

.orange span i {
    color: #131222;
}

.box h5 {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
}

.blue {
    background-color: #131222;
    border: 10px solid #FFB51D;
}

.blue p,
.b-box i {
    color: #FFB51D;
}

.box p {
    font-weight: 500;
}

.car-driver-img img {
    width: 90%;
    border-radius: 20px;
}

.car-driver-img {
    overflow: hidden;
}

.driver {
    position: relative;
    left: 200px;
    top: -200px;
}

@media(max-width:576px) {
    .fun-facts h1 {
        font-size: 30px;
    }

    .fun-facts .fun-text {
        font-size: 15px;
    }

    .box {
        width: 225px;
    }

    .driver {
        left: 100px;
        top: -100px;
    }
}

.more-about {
    height: 80vh;
    width: 100%;

}

.more-about-img {
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to right, #131222e1),
        url("../images/bg-img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.play-btn {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: changeBackground 1s linear infinite alternate-reverse;
}
@keyframes changeBackground {
    from {
        background-color:#FFB51D;
        color: #fff;
    } to {
        background-color: #fff;


    padding: 20px;
    font-size: 25px;
    margin-top: 20px;
    animation: changeColor 2s linear infinite alternate-reverse;
}
}
@keyframes changeColor {
    from {
        background-color: #FFB51D;
        color: white;
    } to {
        background-color: white;



        color: #FFB51D;
    }
}
iframe {
    border-radius: 15px;
    margin-left: 55px;
}
.modal-body {
    padding-bottom: 55px;
}
.more-about h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
@media(max-width : 576px) {
    .more-about h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
}