* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}
/* Main slider container */
.testimonial-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* moving track */
.testimonial-track {
    display: flex;
    gap: 20px;
    animation: slideLeft 20s linear infinite;
}

/* individual card */
.testimonial-card {
    min-width: 350px;
    height: 300px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid #eee;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    position: relative;
}

/* card styling */
.testimonial-card {
    transition: all 0.3s ease;
    border-radius: 15px;
}

/* Hover Effect */
.testimonial-card:hover {
    transform: translateY(-8px);
    background: #fdbb0a;
    box-shadow: 0 12px 25px ;
    background-color: #fff;
     cursor: pointer;
     /* animation: slideLeft 30s linear infinite;
      */
}

/* Pause hower card  */
.testimonial-slider:hover .testimonial-track {
    animation-play-state: paused;
}

/* Quote icon */
.quote-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    background: #fdbb0a;
    color: #000;
    font-size: 25px;
    margin-bottom: 10px;
    /* margin-right: 10px; */
    border-bottom-left-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    font-weight: bold;
    z-index: 2;
    display: flex;
}

/* Rating star */
.stars {
    color: #fdbb0a;
    font-size: 20px;
    margin-top: 10px;
}

/* Animation right to left */
@keyframes slideLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


/* card width for screens 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {

    .testimonial-card {
        min-width: 300px;      
        padding: 25px;         
    }

    .testimonial-track {
        gap: 18px;            
    }

    .testimonial-img {
        width: 65px;           
        height: 65px;
    }

    .quote-icon {
        width: 50px;
        height: 50px;
        font-size: 26px;
        top: -15px;
        right: -15px;
    }
}

/* text size for MObile View */
@media (max-width: 576px) {

  .services h1 {
    font-size: 35px !important;
    text-align: center;
  }

  .car-slider img {
     /* height: 150px; */ 
    width: 220px !important;

  }
}
@media (max-width: 576px) {
  .car-slider img {
    top: 25px;
    height: 120px;        /* smaller car */
    width: 55vw;          /* better fit */
    min-width: 140px;
    animation: drive-mobile 15s linear infinite; /* slower */
  }
  .car-image {
    height: 70vh;
  }
}
